.navbar{
    background-color: white;
}

.interior-header{
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 400px;
    display: flex;
    align-items: center;
}

.interior-header#sdsi{
    background-image: url('/img/sdsi/186-overlay.png');
    -o-object-fit: cover;
       object-fit: cover;
}

.interior-header#likeminds{
    background-image: url('/img/likeminds/likeminds-desktop.png');
}

.interior-header#ecolife{
    background-image: url('/img/ecolife/smartphone-mockup.png');
}

.interior-header#solar{
    background-image: url('/img/solar/solar-mockup.png');
}

.interior-header#covid{
    background-image: url('/img/covid/covid-mockup.png');
}

.interior-header#dx{
    background-image: url('/img/dx-group/dx-mockup.png');
}    

.interior-header#vs{
    background-image: url('/img/vs/OS971A1.png');
}    


.interior-header h1{
    padding-top: 60px;
    color: white;
}

.interior-header img{
    width: 50%;
    margin: auto;
}

.interior-header .col-text{
    order: 2;
}

.interior-header p{
    color: white;
}

@media (max-width:991px){
    .interior-header#sdsi{
        background-image: url('/img/sdsi/186-overlay-tablet.png');
        -o-object-fit: cover;
           object-fit: cover;
    }
    .interior-header#likeminds{
        background-image: url('/img/likeminds/likeminds-tablet.png');
    }

    .interior-header#ecolife{
        background-image: url('/img/ecolife/smartphone-mockup-tablet.png');
    }

    .interior-header#solar{
        background-image: url('/img/solar/solar-mockup-tablet.png');
    }

    .interior-header#covid{
        background-image: url('/img/covid/covid-mockup-tablet.png');
    }    

    .interior-header#dx{
        background-image: url('/img/dx-group/dx-mockup-mobile-tablet.png');
    }   

    .interior-header#vs{
        background-image: url('/img/vs/OS971A1-tablet.png');
    }   

    .interior-header{
        padding: 60px 0px 60px 0px;
        height: 100%;
    }
}

@media (max-width:768px){
    .interior-header#sdsi{
        background-image: url('/img/sdsi/186-overlay-mobile.png');
        -o-object-fit: cover;
           object-fit: cover;
        background-size: cover;
    }

    .interior-header#likeminds{
        background-image: url('/img/likeminds/likeminds-mobile.png');
    }

    .interior-header#ecolife{
        background-image: url('/img/ecolife/smartphone-mockup-mobile.png');
    }

    .interior-header#solar{
        background-image: url('/img/solar/solar-mockup-mobile.png');
    }

    .interior-header#covid{
        background-image: url('/img/covid/covid-mockup-mobile.png');
    }    

    .interior-header#dx{
        background-image: url('/img/dx-group/dx-mockup-mobile.png');
    }  
    
    .interior-header#vs{
        background-image: url('/img/vs/OS971A1-mobile.png');
    }  

    .interior-header{
        padding: 60px 0px 60px 0px;
        height: 100%;
    }
}

@media (min-width: 991px){
    .interior-header{
        padding: 100px 0px 100px 0px;
        height: 550px;
        margin: 0px 15px;
    }
}

@media (min-width: 768px){
    .interior-header p{
        width: 80%;
    }

    .interior-header .col-text{
        order: 0;
    }
}

p.subtitle {
    letter-spacing: .1em;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 10px;
}

.listings {
    margin: 50px 0px;
}

.focus{
    background-color: #1d1f20;
    margin-top: 60px;
}

.focus{
    text-align: center;
}

.focus-img{
    width: 65px;
    margin-bottom: 20px;
}

.focus-sec{
    padding: 60px 0px;
}

.focus-sec h3{
    color: white;
    font-size: 20px;
    font-weight: 400;
}

.interior-block{
    padding-top: 40px;
    padding-bottom: 40px;
}

.interior-block .tight-li li{
    margin: 10px 0px;
}

.interior-block li{
    margin: 15px 0px;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
}

.interior-block p.bold{
font-weight: 600;
text-align: center;
}

.interior-block h3{
    color: #1c2020;
    margin-bottom: 30px;
}

.interior-block-2{
background-color: whitesmoke;
padding: 70px 0px;
}

.gray-box{
    background-color: whitesmoke;
}

.quote-box{
    margin: 30px;
    display: flex;
    align-items: center;
}

#gray{
    background-color: whitesmoke;
}

.task-img img, .task-img video{
    max-width: 75%;
}

.task-img{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin:30px 0px;
}

.task{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.big-img img{
    max-width: 95%;
}

.interior-block video{
    width: 100%
}

